{
  "root": false,
  "extends": ["plugin:react-hooks/recommended", "../../.eslintrc"],
  "rules": {
    "import/no-extraneous-dependencies": 0,

    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        // We use React 18 but want to be backwards compatible so still require importing React
        // in components.
        "varsIgnorePattern": "^(_|React)",
        "ignoreRestSiblings": false
      }
    ]
  }
}
